@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  font-size: 2rem;
  padding-bottom: 2rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 2rem;
}

.cards {
  border-radius: 50%;
  display: flex;
  justify-content: center;
}

.card {
  height: 50vh;
  width: 480px;
  padding: 3rem;
}

.sedans {
  background: hsl(31, 77%, 52%);
}

.suvs {
  background: hsl(184, 100%, 22%);
}

.luxury {
  background: hsl(179, 100%, 13%);
}

img {
  padding-bottom: 2rem;
}
