@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  min-height: 100vh;
}

.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
}

h2 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(0, 0%, 95%);
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  padding-bottom: 5rem;
}

.cards {
  display: flex;
  justify-content: center;
  margin: 2rem 4rem;
  max-width: 65%;
}

.card {
  height: 100%;
  padding: 3rem 2.5rem 6rem;
}

.sedans {
  background: hsl(31, 77%, 52%);
  border-radius: 5px 0 0 5px;
}
.sedans a {
  color: hsl(31, 77%, 52%);
  background: hsl(0, 0%, 95%);
  border-radius: 50px;
}
.sedans a:hover {
  color: hsl(0, 0%, 95%);
  background: hsl(31, 77%, 52%);
  border: 2px hsl(0, 0%, 95%) solid;
  border-radius: 50px;
}

.suvs {
  background: hsl(184, 100%, 22%);
}
.suvs a {
  color: hsl(184, 100%, 22%);
  background: hsl(0, 0%, 95%);
  border-radius: 50px;
}
.suvs a:hover {
  color: hsl(0, 0%, 95%);
  background: hsl(184, 100%, 22%);
  border: 2px hsl(0, 0%, 95%) solid;
  border-radius: 50px;
}

.luxury {
  background: hsl(179, 100%, 13%);
  border-radius: 0 5px 5px 0;
}
.luxury a {
  color: hsl(179, 100%, 13%);
  background: hsl(0, 0%, 95%);
  border-radius: 50px;
}
.luxury a:hover {
  color: hsl(0, 0%, 95%);
  background: hsl(179, 100%, 13%);
  border: 2px hsl(0, 0%, 95%) solid;
  border-radius: 50px;
}

img {
  padding-bottom: 2rem;
  /* margin-top: 1rem; */
}
.link {
  padding: 0.8rem 1.5rem;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .container {
    margin: 3rem 0;
  }
  .cards {
    flex-direction: column;
    align-items: center;
    margin: 3rem 1rem;
  }
  .card {
    width: 300px;
    padding: 3rem 2rem 4rem;
  }
  .sedans {
    border-radius: 5px 5px 0 0;
  }
  .luxury {
    border-radius: 0 0 5px 5px;
  }
  p {
    padding-bottom: 3rem;
  }
}
